/* Media Queries */

/***********************************/
/* Below 768px (Landscape Tablets) */
/***********************************/
@media (max-width: 48rem) {
    body {
        font-size: 1.5rem;
    }

    .container {
        max-width: 90rem;
        background: linear-gradient(-45deg, rgba(238, 119, 82, 0.15), rgba(231, 60, 126, 0.15), rgba(35, 166, 213, 0.15), rgba(35, 213, 171, 0.15));
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
    }

    #codingVideo {
        filter: blur(1px);
    }

    .left-box {
        width: 30rem;
    }

    .icon {
        width: 6rem;
        height: 6rem;
        padding: 0 0.2rem;
    }

    .dash {
        height: 5.1rem;
        width: 0.15rem;
    }

    .dash:hover {
        height: 7.5rem;
        cursor: pointer;
    }

    .right-box {
        width: 30rem;
        gap: 1.3rem;
    }

    .img-box img {
        height: 18rem;
        width: 18rem;
    }

    .img-box img:hover {
        border-radius: 50%;
        height: 20rem;
        width: 20rem;
    }

    .img-box img:hover {
        height: 21rem;
        width: 21rem;
    }

    h1:hover {
        font-size: 3.3rem;
    }

    h2 span:hover {
        font-size: 2.3rem;
    }

    footer {
        font-size: 1rem;
        color: #aaa;
    }

   .netlify {
       color: #aaa;
   }
}




@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/***********************************/
/* Below 432px (Mobile Phone Large) */
/***********************************/

@media (max-width: 27em) {
    body {
        font-size: 1.2rem;
        line-height: 1.3;
    }

    .container {
        flex-direction: column-reverse;
        gap: 0;
        text-align: center;
    }

    .dashes-box {
        flex-direction: row;
        gap: 6rem;
        animation: graduallyAppearance 1s ease-out;
    }

    .dash {
        height: 5rem;
        rotate: 90deg;
    }

    .dash:hover {
        height: 6rem;
        cursor: pointer;
    }

    footer {
        font-size: 0.8rem;
    }
}

/* KeyFrames */
@keyframes graduallyAppearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}
