/* Media Queries */

/***********************************/
/********** Below 960px ************/
/***********************************/
@media (max-width: 60em) {
	html {
		font-size: 100%;
	}

	footer p{
		font-size: 1rem;
	}

}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

/***********************************/
/*********** Below 873px ***********/
/***********************************/
@media (max-width: 54.5em) {
	html {
		font-size: 85%;
	}
}

/***********************************/
/*********** Below 755px ***********/
/***********************************/
@media (max-width: 47em) {
	html {
		font-size: 100%;
	}

	.container {
		flex-direction: column-reverse;
		gap: 0;
		text-align: center;
		align-content: center;
	}

	.dashes-box {
		flex-direction: row;
		gap: 6rem;
		animation: graduallyAppearance 1s ease-out;
	}

	.dash {
		height: 5rem;
		rotate: 90deg;
	}

	.dash:hover {
		height: 6rem;
		cursor: pointer;
	}

	footer p {
		font-size: 0.6rem;
		text-align: center;
	}
}

/* KeyFrames */
@keyframes graduallyAppearance {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}

/***********************************/
/*********** Below 540px ***********/
/***********************************/
@media (max-width: 33.75em) {
	html {
		font-size: 80%;
	}
}

/***********************************/
/*********** Below 430px ***********/
/***********************************/
@media (max-width: 27em) {
	html {
		font-size: 85%;
	}
}

/***********************************/
/*********** Below 415px ***********/
/***********************************/
@media (max-width: 26em) {
	html {
		font-size: 80%;
	}
}

/***********************************/
/*********** Below 375px ***********/
/***********************************/
@media (max-width: 24em) {
	html {
		font-size: 70%;
	}
}
