/* Media Queries */

@media (max-width: 66em) {
	html {
		font-size: 100%;
	}

	footer p{
		font-size: 1rem;
	}

}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@media (max-width: 60.5em) {
	html {
		font-size: 85%;
	}
}

@media (max-width: 52em) {
	html {
		font-size: 100%;
	}

	.container {
		flex-direction: column-reverse;
		gap: 0;
		text-align: center;
		align-content: center;
	}

	.dashes-box {
		flex-direction: row;
		gap: 6rem;
		animation: graduallyAppearance 1s ease-out;
	}

	.dash {
		height: 5rem;
		rotate: 90deg;
	}

	.dash:hover {
		height: 6rem;
		cursor: pointer;
	}

	footer p {
		font-size: 0.6rem;
		text-align: center;
	}
}

/* KeyFrames */
@keyframes graduallyAppearance {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}

@media (max-width: 33.75em) {
	html {
		font-size: 87%;
	}
}

@media (max-width: 27em) {
	html {
		font-size: 83%;
	}
}


@media (max-width: 26em) {
	html {
		font-size: 78%;
	}
}

@media (max-width: 24em) {
	html {
		font-size: 68%;
	}
}
