/* Global Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow: hidden;
}

body {
	font-family: "Josefin Slab", serif;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1.2;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

#canvas {
	position: absolute;
	z-index: -1;
}

::selection {
	color: #00539c;
	background-color: #eea47f;
}

.container {
	height: 100vh;
	max-width: 110rem;
	display: flex;
	align-content: space-around;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	z-index: 1;
}

.left-box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 32rem;
	margin: 0 2rem;
	animation: moveInRight 1s ease-out;
	justify-items: center;
}

.icon__box {
	display: flex;
	margin: 1rem;
	justify-content: center;
	align-items: center;
}

.icon {
	cursor: pointer;
}

.icon svg path {
	transition: all 0.35s;
	fill: #212529;
	backdrop-filter: blur(3px);
}

.icon.mail:hover svg path {
	fill: #ff006e;
}

.icon.linkedin:hover svg path {
	fill: #0a66cd;
}

.icon.github:hover svg path {
	fill: #8338ec;
}

.icon.twitter:hover svg path {
	fill: #1d9bf0;
}

.icon.leetcode:hover svg path {
	fill: #ea4c05;
}

.icon.blog:hover svg path {
	fill: #ffbe0b;
}

.icon.telegram:hover svg path {
	fill: #3a86ff;
}

.icon.resume:hover svg path {
	fill: #13b402;
}

.icon svg path {
	stroke: #111;
}

.dashes-box {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	align-items: center;
	animation: moveInBottom 1s ease-out;
}

.dash {
	height: 6rem;
	width: 0.2rem;
	border-radius: 50px;
	transition: all 0.25s;
	backdrop-filter: blur(3px);
}

.dash:hover {
	height: 10rem;
	cursor: pointer;
}

.first-dash {
	background: #2980b9;
}

.second-dash {
	background: #27ae60;
}

.third-dash {
	background: #f1c40f;
}

.fourth-dash {
	background: #e74c3c;
}

.fifth-dash {
	background: #9b59b6;
}

.right-box {
	display: flex;
	width: 35rem;
	flex-direction: column;
	margin: 0 2rem;
	animation: moveInLeft 1s ease-out;
}

.img-box svg {
	height: 22rem;
	width: auto;
}

h1 {
	font-size: 3rem;
	transition: all 0.2s;
	letter-spacing: 2px;
	backdrop-filter: blur(3px);
}

h2 span {
	font-size: 2rem;
	transition: all 0.2s;
	backdrop-filter: blur(3px);
}

span {
	display: inline-block;
}

footer {
	position: fixed;
	bottom: 2px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "JetBrains Mono", sans-serif;
	font-size: 1.5rem;
	color: rgba(136, 136, 136, 0.55);
}

p a {
	color: inherit;
	text-decoration: underline;
}

/* KeyFrames */
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(-130px);
	}

	70% {
		opacity: 100;
		transform: translateX(20px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(130px);
	}

	70% {
		opacity: 100;
		transform: translateX(-20px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(-130px);
	}

	70% {
		opacity: 100;
		transform: translateY(20px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
