/* Global Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-family: "Josefin Slab", serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #111;
}

.container {
    height: 100vh;
    max-width: 110rem;
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#codingVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    z-index: -1;
    filter: blur(6px);
}

.left-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 35rem;
    margin: 0 2rem;
    animation: moveInRight 1s ease-out;
}

.icon {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    background-color: rgba(152, 152, 152, 0.03);
    border-radius: 50%;
    padding: 0.9rem;
    transition: all 1s;
}

.icon.mail:hover svg path {
    stroke: #0364b8;
}

.icon.linkedin:hover svg path {
    stroke: #0a66cd;
}

.icon.github:hover svg path {
    stroke: #ad5c51;
}

.icon.twitter:hover svg path {
    stroke: #1d9bf0;
}

.icon.codepen:hover svg path {
    stroke: #7a7474;
}

.icon.leetcode:hover svg path {
    stroke: #c97801;
}

.icon.blog:hover svg path {
    stroke: #0023ce;
}

.icon.telegram:hover svg path {
    stroke: #2aabee;
}

.icon svg path {
    stroke: #111;
}

.dashes-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 0 1rem;
    animation: moveInBottom 1s ease-out;
}

.dash {
    height: 6rem;
    width: 0.2rem;
    transition: all 0.5s;
}

.dash:hover {
    height: 9rem;
}

.first-dash {
    background: #2980b9;
}

.second-dash {
    background: #27ae60;
}

.third-dash {
    background: #f1c40f;
}

.fourth-dash {
    background: #e74c3c;
}

.fifth-dash {
    background: #9b59b6;
}

.right-box {
    display: flex;
    width: 35rem;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 2rem;
    animation: moveInLeft 1s ease-out;
}

.img-box img {
    height: 22rem;
    width: 22rem;
    border-radius: 20%;
    transition: all 0.5s;
}

.img-box img:hover {
    border-radius: 50%;
    height: 24rem;
    width: 24rem;
}

h1 {
    transition: all 0.5s;
}

h1:hover {
    font-size: 4rem;
}

h2 span{
    transition: all 0.5s;
}

h2 span:hover {
    font-size: 3rem;
}

footer {
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #888;
}


/* KeyFrames */
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-130px);
    }

    70% {
        opacity: 100;
        transform: translateX(20px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(130px);
    }

    70% {
        opacity: 100;
        transform: translateX(-20px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-130px);
    }

    70% {
        opacity: 100;
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}
